@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg {
    background-image: url("./assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.PlayerRSWP {
    background-color: #a3a3a3;
}